<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#5d67c8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <title>xmpp.12se</title>
    <link rel="stylesheet" href="../../css/lib.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body >
<div class="main">
<header id="header" class="@@header_class">
    <div class="header_main">
        <div class="logo">
            <a href="#">
                <img src="../img/logo.svg" alt="">
            </a>
        </div>
        <nav class="navbar">
            <ul class="navbar-nav" >
                <li  class="menu-item menu-item-has-children">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link" >
                        <span itemprop="name">Sellers</span>
                        <span class="icon">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 3L4 5L6 3" stroke="white"/>
                            </svg>
                        </span>
                    </a>
                    <div class='drop-wrapper'>
                        <ul class="dropdown-menu">
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item">
                                    <span class="img">
                                        <img src="../img/menu_img_hover.svg" class="hover" alt="">
                                        <img src="../img/menu_img.svg" alt="">
                                    </span>
                                    <span itemprop="name">Why Us</span></a>
                            </li>
                            <li class="divider">Autonomous Cleaning</li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item">
                                    <span class="img">
                                        <img src="../img/menu_img_hover.svg" class="hover" alt="">
                                        <img src="../img/menu_img.svg" alt="">
                                    </span>
                                    <span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item">
                                    <span class="img">
                                        <img src="../img/menu_img_hover.svg" class="hover" alt="">
                                        <img src="../img/menu_img.svg" alt="">
                                    </span>
                                    <span itemprop="name">Why Us</span></a>
                            </li>
                            <li class="divider">Autonomous Cleaning</li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item">
                                    <span class="img">
                                        <img src="../img/menu_img_hover.svg" class="hover" alt="">
                                        <img src="../img/menu_img.svg" alt="">
                                    </span>
                                    <span itemprop="name">Why Us</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li  class="menu-item menu-item-has-children">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link" >
                        <span itemprop="name">Sellers</span>
                        <span class="icon">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 3L4 5L6 3" stroke="white"/>
                            </svg>
                        </span>
                    </a>
                    <div class='drop-wrapper'>
                        <ul class="dropdown-menu">
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li  class="menu-item menu-item-has-children">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link" >
                        <span itemprop="name">Sellers</span>
                        <span class="icon">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 3L4 5L6 3" stroke="white"/>
                            </svg>
                        </span>
                    </a>
                    <div class='drop-wrapper'>
                        <ul class="dropdown-menu">
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li  class="menu-item menu-item-has-children">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link" >
                        <span itemprop="name">Sellers</span>
                        <span class="icon">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 3L4 5L6 3" stroke="white"/>
                            </svg>
                        </span>
                    </a>
                    <div class='drop-wrapper'>
                        <ul class="dropdown-menu">
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                            <li  class="menu-item ">
                                <a href="#" class="dropdown-item"><span itemprop="name">Why Us</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li  class="menu-item">
                    <a href="#" class=" nav-link" >
                        <span itemprop="name">Sellers</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="lng_nav">
            <button class="lng_toggle">
                <span>English</span>
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 3L4 5L6 3" stroke="white"></path>
                </svg>
            </button>
            <ul class="navbar-lng">
                <li class="lng-items ">
                    <a href="https://gausium.celerart.com" class="lng-item">
                        <span class="flag">
                              <img src="https://gausium.celerart.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png" alt="fr-flag">
                        </span>
                        <span class="name">Français</span>
                    </a>
                </li>
                <li class="lng-items ">
                    <a href="https://gausium.celerart.com" class="lng-item">
                                    <span class="flag">
                                        <img src="https://gausium.celerart.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/de.png" alt="de-flag">
                                    </span>
                        <span class="name">Deutsch</span>
                    </a>
                </li>
                <li class="lng-items ">
                    <a href="https://gausium.celerart.com" class="lng-item">
                                    <span class="flag">
                                        <img src="https://gausium.celerart.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/it.png" alt="it-flag">
                                    </span>
                        <span class="name">Italiano</span>
                    </a>
                </li>
                <li class="lng-items ">
                    <a href="https://gausium.celerart.com" class="lng-item">
                                    <span class="flag">
                                        <img src="https://gausium.celerart.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/es.png" alt="es-flag">
                                    </span>
                        <span class="name">Español</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact_btn">
            <button class="btn btn_blue">Contact</button>
        </div>
    </div>
</header>

<!--End header-->
<!--Start content-->